.navbar{
    background-color: rgb(212, 233, 226);
    align-items: flex-end;
}
.navbar .brand{
    font-style: italic;
    font-weight: bold;

}

.navbar .ms-auto{
color: #000;
font-size: medium;
font-style: bold;
justify-content: space-around;
}

.navbar .ms-auto :hover{
    color: rgb(119, 199, 219);
}
